 {% load static %}
 {% load pwa %}

{% progressive_web_app_meta %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Safeplus{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href={% static '/css/flexboxgrid.css' %}>




<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyASTMlsCxMMW2a72f9FjWrpZxjPkBy8grg",
    authDomain: "safeplus-5e183.firebaseapp.com",
    projectId: "safeplus-5e183",
    storageBucket: "safeplus-5e183.appspot.com",
    messagingSenderId: "763838870066",
    appId: "1:763838870066:web:6fff29d33a5cf267a7422b"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  let messaging= firebase.messaging();

  //Enlace de sw

  navigator.serviceWorker
  .register('./serviceworker.js')
  .then(function(register){

    messaging.useServiceWorker(register);
    //Solicita el permiso de Notificaciones al usuario
    messaging.requestPermission()
    .then(function(){

      console.log("Usuario acepto las notificaciones PUSH")

      return messaging.getToken();
    })
    .then(function(token){

      console.log(token);

      //TOKEN SE ENVIA A DJANGO
      fetch('guardar-token/',{
        method:'post',
        headers:{
          'Content-Type':'application/json',
          'Accept':'application/json'
        },
        body:JSON.stringify({

          'token':token


        })

      })
      .then(function(resultado){

        console.log("Se ha guardado el token")
      })
      .catch(function(e){

        console.log("No se pudo guardar el token")
      })
    })
    .catch(function(e){

      console.log("El usuario no acepto notificaciones PUSH")

    })

  })
//Fin solicitud de permiso notificacion

messaging.onMessage(function(payload){

  let tittle='Titulo de la notificacionu';

  let options={

    body:'mensaje del body',
    icon:'static/images/safe.jpg'

  }

  let mensaje = new Notification(tittle,options);



});

</script>

</head>
<body style="background-color: azure;">
  <main>
    <div style="background-image: url('{% static 'images/safe.jpg' %}') opacity: 0.2;;"> 
    <div class="col-xs-2">
    </div><!--fin div col 2-->
      <div class="col-xs-12">

   

      <nav>
        <ul>
          <div class="row">
          <div class="col-xs-12 col-md-2 col-lg-2"><li><a href="{% url 'home' %}">Inicio</a></li></div>
          <div class="col-xs-12 col-md-2 col-lg-2"><li><a href="#">Nosotros</a></li></div>
          <div class="col-xs-12 col-md-2 col-lg-2"><li><a href="#">Servicios</a></li></div>
          <div class="col-xs-12 col-md-2 col-lg-2"><li><a href="{% url 'nuevo_registro_pagos' %}">Pagos</a></li></div>
          {% if user.is_authenticated %}
          <div class="col-xs-12 col-md-4 col-lg-4"><li><a href="{% url 'logout' %}">Cerrar Sesion , {{ user.username }}</a></li></div>
           {% else %}
           <div class="col-xs-12 col-md-4 col-lg-4"><li><a href="{% url 'login' %}">Conectarse</a></li></div>

            {% endif %}
          
        </div>
        </ul>
      </nav>
      
      <div class="row">
        <div class="col-xs-offset-4 col-xs-8">

        </div>
        
          <div class="col-xs-12">
            {% block login %}



            {% endblock %}
          </div>
      </div>
        <br><br>
     
      
    {% block content %}



    {% endblock %}

  
  
      
  <div col-xs-2>

    <div class="row ">
        <div class="col-xs-offset-4 col-xs-4"> 

          <div style="padding: 15px; background-color:{% block contenido_color%}
         
          {% endblock %} ;"> 
            <div class="center-xs">         
           {% block contenido_mediano%}
         
          {% endblock %}
            </div>

          </div>

        </div>
      
    </div>

<!--INICIO CONTENEDOR-->

    <div class="container-fluid">

      <div class="row">

          <div class=" col-xs-12 col-lg-6">

            {% block contenido_izquierda %}
         


            {% endblock %}
          </div>

<!--div 6 parte1-->

          <div class="col-xs-12 col-lg-6">
            
            {% block contenido_derecha %}
         


            {% endblock %}

          </div>

      </div>




    </div>

<!-- Footer -->



<div class="col-xs-12 center-xs">
<footer >
  <p style="">Powered by Thomas &#128200 <a href="" title="" target="" class=""></a></p>
</footer>

</div>


</body>
</html>

  </div>
  </main>
</body>
</html>