{% extends 'base.html' %}

{% block title %}Safeplus Inicio{% endblock %}

{% block login %}



{% endblock %}

 {% block contenido_izquierda %}


 {% if request.user.is_staff is not True and request.user.is_active is True  %}

<h4>Acciones rapidas para usuario Cliente:</h4>
<div><a href=" {% url 'nuevo_accidente' %}">Reportar Accidente</a></div>



 {% endif %}





 {% if request.user.is_staff and request.user.is_active is True  %}

 <h4>ACCIONES RAPIDAS PARA USUARIO TRABAJADOR:</h4>
<br>

<h2>Vistas de capacitacion</h2>

<a href=" {% url 'nuevos_materiales' %}">Nuevos materiales</a>
<br>
<a href=" {% url 'nueva_capacitacion' %}">Registrar Capacitación</a>
<br>
<a href=" {% url 'nuevos_materiales_solicitados' %}">Preparar Capacitacion</a>

<br><br>

<h2>Vistas de Asesoria</h2>

<br>
<a href=" {% url 'nueva_asesoria_accidente' %}">Asesoria Accidente</a>

<br>
<a href=" {% url 'nueva_asesoria_fiscalizaciones' %}">Asesoria Fiscalizaciones</a>

<h2>Vistas de Visitas</h2>
<br>
<a href=" {% url 'nueva_visita_rutinaria' %}">Visita Rutinaria</a>
 <br>
 <a href=" {% url 'nuevo_informe_visita' %}">Informe Visita</a>

 {% endif %}





  {% endblock %}

 {% block contenido_derecha %}
 {{mensaje}}




{% if request.user.is_superuser %}
<p>ESTO SOLO PODRAS VERLO SI EL USUARIO ES ADMIN</p>

<a href=" {% url 'crear_cliente' %}">crear_cliente</a>
<br>
<a href=" {% url 'extender_cliente' %}">extender_cliente</a>
<br>
<a href=" {% url 'crear_trabajador' %}">crear_trabajador</a>
<br>
<a href=" {% url 'extender_trabajador' %}">extender_trabajador</a>


{% endif %}



{% if request.user.is_staff   is not True  and request.user.is_active is True  %}

<p>ACCIONES DISPONIBLES PARA EL CLIENTE</p>
<br>


<a href=" {% url 'nuevo_accidente' %}">nuevo_accidente</a>



<br><br>
<a href=" {% url 'nueva_fiscalizacion' %}">nueva_fiscalizacion</a>


<br>

{% endif %}





    {% if request.user.is_staff and request.user.is_active is True  %}
<p>Vista de carga laboral</p>
      <label for="">CAPACITACIONES PARA ESTE MES</label>
      <br><br>
      {% for d in listado_capacitaciones_por_id  %}
      <div>Capacitacion con fecha {{ d.1 }} a las {{ d.2 }}</div>

      {% endfor %}
  <br>
      <label for="">Visitas PARA ESTE MES</label>
      <br><br>
      {% for e in listado_visitas_por_id  %}
      <div>visita de tipo {{ e.2 }} de {{ e.0 }} con fecha {{ e.1 }} </div>

      {% endfor %}



    {% endif %}






  {% endblock contenido_derecha%}

{% block content %}

{% endblock %}