{% extends 'base.html' %}

{% block title %}Safeplus Inicio{% endblock %}

{% block login %}



{% endblock %}

 {% block contenido_izquierda %}


 {% if request.user.is_staff is not True and request.user.is_active is True  %}

<h4>Acciones rapidas para usuario Cliente:</h4>
<div><a href=" {% url 'nuevo_accidente' %}">Reportar Accidente</a></div>

<h5>Reportar Fiscalizacion</h5>

 {% endif %}





 {% if request.user.is_staff and request.user.is_active is True  %}

 <h4>Acciones rapidas para usuario Trabajador:</h4>
<br>
<a href=" {% url 'crear_trabajador' %}">VISTA CAPACITACIONES</a>
<br>
<br>
<a href=" {% url 'crear_trabajador' %}">VISTA ASESORIAS</a>
<br>
<br>
<a href=" {% url 'crear_trabajador' %}">VISTA VISITAS A TERRENO</a>
<br>
<br>
<a href=" {% url 'crear_trabajador' %}">VISTA REVISION DE CLIENTES</a>



 
 {% endif %}





  {% endblock %}

 {% block contenido_derecha %}
 {{mensaje}}

ESTE ESPACIO DE LA PANTALLA OCUPA 6 EN LG Y 12 EN XS


{% if request.user.is_superuser %}
<p>ESTO SOLO PODRAS VERLO SI EL USUARIO ES ADMIN</p>

<a href=" {% url 'crear_cliente' %}">crear_cliente</a>
<br>
<a href=" {% url 'extender_cliente' %}">extender_cliente</a>
<br>
<a href=" {% url 'crear_trabajador' %}">crear_trabajador</a>
<br>
<a href=" {% url 'extender_trabajador' %}">extender_trabajador</a>


{% endif %}



{% if request.user.is_staff   is not True  and request.user.is_active is True  %}

<p>ESTO SOLO PODRAS VERLO SI EL USUARIO ES CLIENTE</p>
<br>


<br>




<br>
<a href=" {% url 'nuevo_accidente' %}">nuevo_accidente</a>



<br>
<a href=" {% url 'nueva_fiscalizacion' %}">nueva_fiscalizacion</a>


<br>

{% endif %}





    {% if request.user.is_staff %}
<p>SI el usuario es staff debera poder ver esto</p>



<br>
<a href=" {% url 'nuevos_materiales' %}">nuevos_materiales</a>


<br>
<a href=" {% url 'nuevos_materiales_solicitados' %}">nuevos_materiales_solicitados</a>


<br>
<a href=" {% url 'nueva_capacitacion' %}">nueva_capacitacion</a>

<br>
<a href=" {% url 'nueva_visita_rutinaria' %}">nueva_visita_rutinaria</a>

<br>
<a href=" {% url 'nueva_asesoria_accidente' %}">nueva_asesoria_accidente</a>


<br>
<a href=" {% url 'nueva_asesoria_fiscalizaciones' %}">nueva_asesoria_fiscalizaciones</a>



<br><a href=" {% url 'listado_clientes_con_modulos' %}">listado_clientes_con_modulos</a>

<br><a href=" {% url 'nuevo_informe_visita' %}">nuevo_informe_visita</a>


    {% endif %}






  {% endblock contenido_derecha%}

{% block content %}

{% endblock %}