{% extends 'base.html' %}

{% block title %}Safeplus Inicio{% endblock %}

{% block login %}



{% endblock %}

 {% block contenido_izquierda %}
<h2>Nuevo Trabajador</h2>
<form action="" method="POST">
{% csrf_token %}

    <label for=""></label>


</form>



  {% endblock %}

 {% block contenido_derecha %}

<form action="" method="POST">
  {% csrf_token %}

  <label for="">fecha_visita</label>
  <input type="date" name="fecha_visita">
  <br>
 <label for="">Seleccion id cliente</label>
  <select name="rut_cliente_id" id="rut_cliente_id">
    <option value="">Seleccionar</option>
      {% for d in listar_clientes2  %}
      <option value="{{ d.0 }}">usuario {{ d.1 }} con id {{ d.0 }} </option>
      {% endfor %}
<br>
  </select>

<label for="">Seleccion tipo de accidente</label>
  <select name="rut_trabajador_id" id="rut_trabajador_id">
    <option value="">Seleccionar</option>
      {% for f in listar_trabajadores_todos  %}
      <option value="{{ f.0 }}">id{{ f.0 }} y usuario {{ f.1 }}</option>
      {% endfor %}

  </select>

  <br>

  <br>

  <input type="submit" value="Guardar">
  </form>



  {% endblock contenido_derecha%}

{% block content %}

{% endblock %}