{% extends 'base.html' %}

{% block title %}Safeplus Inicio{% endblock %}

{% block login %}



{% endblock %}

 {% block contenido_izquierda %}


  <h2>Ventana de pagos</h2>

  <h2>Solo debes pagar lo necesario del mes anterior para seguir siendo un cliente activo , no pagar el mes anterior hara que se corte el servicio el primer dia del mes siguiente</h2>





  {% endblock %}

 {% block contenido_derecha %}


<form action="" method="POST">
  {% csrf_token %}
<label for="">Monto a pagar</label>
<br>
  <input type="number" name="monto_pago">
<br>

<label for="">Fecha del mes a pagar</label>
<br>
<input type="date" name="fecha_pago">
<br>
<br>

  <select name="id_contrato_id" id="id_contrato_id">
    <option value="">Seleccionar contrato</option>
      {% for d in contratos_por_id_pago  %}
      <option value="{{ d.3 }}" selected>{{ d.5 }} </option>
      {% endfor %}

  </select>
<br>

  <input type="submit" value="Guardar">
  </form>
{{mensaje}}




  {% endblock contenido_derecha%}

{% block content %}

{% endblock %}