{% extends 'base.html' %}

{% block title %}Safeplus Inicio{% endblock %}

{% block login %}



{% endblock %}

 {% block contenido_izquierda %}


  <h2>Reporte de fiscalizaciones</h2>

  <h2>Puede solicitar una asesoria especial al ser fiscalizado , se cubren 10 , luego de esto se pagara.</h2>


  {% endblock %}

 {% block contenido_derecha %}

<form action="" method="POST">
  {% csrf_token %}
<label for="">DOCUMENTOS REVISADOS</label>
  <br>
  <input type="text" name="doc_revisados">

<br>
  <label for="">Breve descripcion del/los documentos</label>
  <br>
  <input type="text" name="descripcion_documento">
<br>
<br>
<label for="">Documento/s que quedaron por revisar</label>
<br>
<input type="text" name="documento" >
<br>




  <input type="text" name="rut_cliente_id" value="{{ user.id }}" readonly hidden>



<br>
<br>
  <input type="submit" value="Guardar">
  </form>
{{mensaje}}




  {% endblock contenido_derecha%}

{% block content %}

{% endblock %}