{% extends 'base.html' %}

{% block title %}Safeplus Inicio{% endblock %}

{% block login %}



{% endblock %}

 {% block contenido_izquierda %}


  <h2>Reporte de accidentes</h2>

  <h2>RECUERDA QUE PUEDES SOLICITAR ASESORIA AL SUFRIR UN ACCIDENTE</h2>





  {% endblock %}

 {% block contenido_derecha %}


<form action="" method="POST">
  {% csrf_token %}
<label for="">Naturaleza del accidente</label>
  <select name="naturaleza" id="naturaleza">
    <option value="Laboral">Laboral</option> 
    <option value="Camino al trabajo" selected>Camino al trabajo</option>
    <option value="Sobreesfuerzo">Sobreesfuerzo</option>
  </select>
  <br>

  <label for="">Partes accidentadas</label>
  <input type="text" name="partes_accidentadas">
<br>

<label for="">Fuente Accidente</label>
<input type="text" name="fuente_accidente">
<br>

<label for=""></label>
<input type="date" name="fecha_accidente">

<br>

  <input type="text" name="rut_cliente_id" id="rut_cliente_id" value="{{ user.id}}" hidden >

  <input type="submit" value="Guardar">
  </form>
{{mensaje}}




  {% endblock contenido_derecha%}

{% block content %}

{% endblock %}