{% extends 'base.html' %}

{% block title %}Safeplus Inicio{% endblock %}

{% block login %}



{% endblock %}

 {% block contenido_izquierda %}


  <h2>Programar Visitas a terreno</h2>

  <h2>La visita rutinaria no tiene costo para el usuario , sin embargo , la especial si .</h2>






  {% endblock %}

 {% block contenido_derecha %}


<form  action="" method="POST">
  {% csrf_token %}

<label for="">Motivo Visita</label>
<br>
<select name="motivo_visita">
  <option value="rutinaria" selected>rutinaria</option>
</select>
<br>
<label for="">Fecha Visita</label>
<br>
<input type="date" name="fecha_visita" >
<br>
<label for="">Seleccion Cliente</label>
<br>
  <select name="rut_cliente_id" id="rut_cliente_id">
    <option value="">Seleccionar</option>
      {% for d in listado_clientes_extendidos  %}
      <option value="{{ d.0 }}">{{ d.1 }}</option>
      {% endfor %}

  </select>

  <br>
    <label for="">Seleccion del trabajador</label>
  <br>

  <input type="text" name="rut_trabajador_id" id="rut_trabajador_id" value="{{ user.id}}" hidden >
  <br>

  <input type="submit" value="Guardar">
  </form>
{{mensaje}}




  {% endblock contenido_derecha%}

{% block content %}

{% endblock %}