{% extends 'base.html' %}

{% block title %}Safeplus Inicio{% endblock %}

{% block login %}



{% endblock %}

 {% block contenido_izquierda %}
<h2>Vincule los materiales a la capacitacion</h2>
<form action="" method="POST">
{% csrf_token %}

    <label for=""></label>


</form>



  {% endblock %}

 {% block contenido_derecha %}

<form action="" method="POST">
  {% csrf_token %}
 
  <label for="">Seleccion de material</label>
  <select name="id_material" id="id_material">
    <option value="">Seleccionar</option>
      {% for d in listado_materiales  %}
      <option value="{{ d.0 }}"> {{ d.1 }}</option>
      {% endfor %}

  </select>
  
  <label for="">cantidad</label>
  <input type="number" name="cantidad">
  <br>
  <br>
  <br>
  <label for="">Seleccione su capacitacion</label>
  <select name="material_capacitacion_id" id="material_capacitacion_id">
    <option value="">Seleccionar</option>
      {% for f in listado_capacitaciones  %}
      <option value="{{ f.0 }}"> {{ f.6 }} con fecha {{ f.2 }} {{ f.3 }}</option>
      {% endfor %}

  </select>
  <br>

  <input type="submit" value="Guardar">
  </form>

{{mensaje}}

  {% endblock contenido_derecha%}

{% block content %}

{% endblock %}